<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuemei.api.admin.mapper.SysPermissionInitMapper">
	<!-- 通用查询映射结果 -->
	<resultMap id="sysPermissionInitMap" type="com.yuemei.api.admin.entity.SysPermissionInit">
		<id column="id" property="id" />
		<result column="url" property="url" />
		<result column="permission_init" property="permissionInit" />
		<result column="sort" property="sort" />
	</resultMap>
	<select id="selectAll" resultMap="sysPermissionInitMap">
		SELECT * FROM sys_permission_init ORDER BY sort ASC
	</select>
</mapper>