<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ym.admin.mapper.SysUserMapper">
	<select id="selectByList" resultType="com.ym.admin.entity.SysUser">
		SELECT u.id,u.name,u.loginname,u.email,u.tel,u.sex,u.address,u.status,u.birthday,u.create_time,
		dc.name AS education_id,d.dept_name AS company_id,de.dept_name AS department_id,dept.dept_name AS post_id 
		FROM sys_user u LEFT JOIN data_dictionary dc ON u.education_id=dc.id
		LEFT JOIN department d ON u.company_id=d.id LEFT JOIN department de ON u.department_id=de.id
		LEFT JOIN department dept ON u.post_id=dept.id
  	</select>
  	
  	<select id="selectDepartmentByTree" resultType="com.ym.admin.entity.Department">
		SELECT * FROM department
  	</select>
  	
  	<select id="slectByDictionaryList" resultType="com.ym.admin.entity.Dictionary">
		SELECT * FROM data_dictionary
  	</select>
  	
  	<insert id="addDictionary">  
        insert into data_dictionary (id,name,code,date_desc,status,create_date,num) values (#{id},#{name},#{code},#{date_desc},#{status},NOW(),#{num})  
    </insert> 
    
    <update id="updateDictionary" parameterType="com.ym.admin.entity.Dictionary">
    	UPDATE data_dictionary
		 <trim prefix="set" suffixOverrides=",">
		  <if test="name!=null">name=#{name},</if>
		  <if test="code!=null">code=#{code},</if>
		  <if test="status!=null">status=#{status},</if>
		  <if test="date_desc!=null">date_desc=#{date_desc},</if>
		  <if test="num!=null">num=#{num},</if>
		 </trim>
 		 WHERE id=#{id}
    </update>
    
    <insert id="addSysUser">
    	insert into sys_user (
	    	id,name,loginname,email,tel,password,sex,post_id,
	    	birthday,education_id,company_id,department_id,address,
	    	head_img_url,remarks,status,create_time,update_time) 
	   values 
	    	(#{id},#{name},#{loginname},#{email},#{tel},#{password},#{sex},
    		#{post_id},#{birthday},#{education_id},#{company_id},#{department_id},
    		#{address},#{head_img_url},#{remarks},#{status},NOW(),update_time)  
    </insert>
    
    <select id="getDictionaryById" parameterType="java.lang.String" resultType="com.ym.admin.entity.Dictionary">
    	SELECT * FROM data_dictionary WHERE id=#{id}
    </select>
    
    <delete id="deleteDictionaryById" parameterType="java.lang.String">
    	 DELETE FROM data_dictionary WHERE id IN
    	 <foreach collection="array" item="id" index="index" open="(" separator="," close=")">
			#{id}
		</foreach>
    </delete>
</mapper>