<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/scripts/boot.js}" type="text/javascript"></script>
</head>
<body >   
<div class="mini-toolbar" style="padding:2px;border-bottom:0;">
        <table style="width:100%;">
            <tr>
            <td style="width:100%;">
                <a class="mini-button" iconCls="icon-add" onclick="add()">添加</a>
                <a class="mini-button" iconCls="icon-edit">编辑</a>
                <a class="mini-button" iconCls="icon-remove">删除</a>
            </td>
            <td style="white-space:nowrap;"><label style="font-family:Verdana;">名称: </label>
                <input class="mini-textbox" />
                <a class="mini-button" iconCls="icon-search" onclick="onSearch()">查询</a>
                </td>
            </tr>
        </table>
    </div>
    <!--撑满页面-->
    <div class="mini-fit" >
        <div id="datagrid1" class="mini-datagrid" style="width:100%;height:100%;" url="/user/slectByUser"  idField="id" sizeList="[10,15,30,50]" pageSize="30">
            <div property="columns">
	            <div type="checkcolumn" >选择</div>        
	            <div field="loginname" width="120" align="center" headerAlign="center" allowSort="true">员工帐号</div>    
	            <div field="name" width="120" headerAlign="center" align="center" allowSort="true">姓名</div>    
	            <div header="工作信息" headerAlign="center">
	                <div property="columns">
	                    <div field="company_id" width="120" align="center" headerAlign="center">所属公司</div>
	                    <div field="department_id" width="100" align="center" headerAlign="center">所属部门</div>
	                    <div field="post_id" headerAlign="center" align="center" width="100">所属岗位</div>
	                    <div field="address" headerAlign="center" align="center" width="100">工作地点</div>
	                </div>
	            </div>
	            <div header="基本信息" headerAlign="center">
	                <div property="columns">
	                    <div field="sex" width="50" renderer="onSexRenderer" align="center" headerAlign="center">性别</div>
	                    <div field="education_id" width="80" align="center" headerAlign="center">学历</div>
	                    <div field="tel" width="100" headerAlign="center" align="center">手机号码</div>
	                    <div field="birthday" width="80" align="center" renderer="onBirthdayRenderer" headerAlign="center">出生日期</div>
	                    <div field="email" width="120" align="center" headerAlign="center">邮箱</div>
	                </div>
	            </div>
	            <div field="status" width="60" headerAlign="center" align="center" renderer="onStatus" allowSort="true">状态</div>  
	            <div field="create_time" width="120" headerAlign="center" align="center" dateFormat="yyyy-MM-dd hh:mm:ss" allowSort="true">创建日期</div>   
            </div>
        </div> 
    </div>
    
    <script type="text/javascript">
        mini.parse();
        var grid = mini.get("datagrid1");
        grid.load();
        function onSearch() {
            mini.open({
                url: bootPATH + "../demo/CommonLibs/SelectGridWindow.html"
            });
        }
        function onStatus(e) {
            if (e.value == 1) return "有效";
            else return "无效";
        }
        function onSexRenderer(e) {
            if (e.value == 1) return "男";
            else return "女";
        }
        function add() {
        	mini.open({
        	    url: bootPATH + "../user/addUserPage",
        	    title: "新增用户", width: 480, height: 360,
        	    onload: function () {
        	        var iframe = this.getIFrameEl();
        	        var data = { action: "new"};
        	        iframe.contentWindow.SetData(data);
        	    },
        	    ondestroy: function (action) {
        	        grid.reload();
        	    }
           });
        }
    </script>
</body>
</html>