<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/scripts/boot.js}" type="text/javascript"></script>
</head>
<body>
   <div class="mini-splitter" style="width:100%;height:100%;">
    <div size="240" showCollapseButton="true">
        <div class="mini-fit">
            <ul id="tree1" class="mini-tree" url="/selectMenu/Ztree" style="width:100%;" 
	        showTreeIcon="true" textField="name" idField="m_id" parentField="parent_id" resultAsTree="false" contextMenu="#treeMenu" expandOnLoad="true">
    		</ul>
    		<ul id="treeMenu" class="mini-contextmenu"  onbeforeopen="onBeforeOpen">        
			    <li>
					<span iconCls="icon-add">新增节点</span>
					<ul>
					    <li onclick="addZtree">插入同级节点</li>                
						<li onclick="onAddNode">插入子节点</li>	             
					</ul>
				</li>
				<li class="separator"></li>
				<li name="edit" iconCls="icon-edit" onclick="onEditNode">编辑节点</li>
				<li class="separator"></li>
				<li name="remove" iconCls="icon-remove" onclick="onRemoveNode">删除节点</li>        
			</ul>
        </div>
    </div>
  	<div showCollapseButton="true">
        <div class="mini-toolbar" style="padding:2px;border-top:0;border-left:0;border-right:0;">                
            <a class="mini-button" iconCls="icon-add" plain="true" onclick="addRow()">新增</a>
            <a class="mini-button" iconCls="icon-remove" plain="true" onclick="removeRow()">删除</a>     
            <a class="mini-button" iconCls="icon-save" plain="true" onclick="saveData()">保存</a>                  
        </div>
        <div class="mini-fit" >
            <div id="grid1" class="mini-datagrid" style="width:100%;height:100%;"borderStyle="border:0;" url="/selectMenu/list">
                <div property="columns">
                    <div field="name" width="120" headerAlign="center" align="center">按钮名称</div>
                    <div field="url" width="160" headerAlign="center" align="center">按钮链接</div>
                    <div field="icon" width="100" headerAlign="center" align="center">图标</div>
                    <div field="status" width="80" allowSort="true" renderer="onGenderRenderer" align="center" headerAlign="center">是否启用</div>
                    <div field="create_date" width="100" align="center" headerAlign="center" dateFormat="yyyy-MM-dd hh:mm:ss" allowSort="true">创建日期</div>
                </div>
            </div>  
        </div>
    </div>
</div>
<script type="text/javascript">
		mini.parse();
        var tree = mini.get("tree1");
        var grid = mini.get("grid1");
        tree.on("nodeselect", function (e) {
            if (e.isLeaf) {
                grid.load({ m_id: e.node.m_id });
                $(".mini-toolbar").show();
                $("#grid1").show();
            } else {
                $(".mini-toolbar").hide();
                $("#grid1").hide();
            }
        });

        function addRow() {
            var node=tree.getSelectedNode();
            if (node) {
                mini.open({
                    url: bootPATH + "../sysMenu/addTree",
                    title: "新增菜单", width: 420, height: 200,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { action: "new", m_id:node.m_id,nodeDataType:2,status:1,ismenu:0};
                        iframe.contentWindow.SetData(data);
                    },
                    ondestroy: function (action) {
                        grid.reload();
                    }
                });
            } else {
                mini.alert("请选中一条节点！");
            }
        }


        function addZtree(e) {
        	var tree = mini.get("tree1");
            var row = tree.getSelectedNode();
            if (row.m_id=="0" || row.m_id==0){
                mini.alert("此节点不能添加同级节点！");
                return false;
			}
            if (row) {
                mini.open({
                    url: bootPATH + "../sysMenu/addTree",
                    title: "新增菜单", width: 420, height: 200,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { action: "new", m_id:row.m_id,nodeDataType:1,status:1,ismenu:1};
                        iframe.contentWindow.SetData(data);
                    },
                    ondestroy: function (action) {
                    	tree.reload();
                    }
                });
            } else {
            	mini.alert("请选中一条节点！");
            }
        }
        function onAddNode(e) {
        	var tree = mini.get("tree1");
            var row = tree.getSelectedNode();
            if (row) {
                mini.open({
                    url: bootPATH + "../sysMenu/addTree",
                    title: "新增菜单", width: 420, height: 200,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { action: "new", m_id:row.m_id,nodeDataType:2,status:1,ismenu:1};
                        iframe.contentWindow.SetData(data);
                    },
                    ondestroy: function (action) {
                    	tree.reload();
                    }
                });
            } else {
            	mini.alert("请选中一条节点！");
            }
        }
        function onEditNode(e) {
            var tree = mini.get("tree1");
            var row = tree.getSelectedNode();
            if (row.m_id=="0" || row.m_id==0){
                mini.alert("此节点不能被编辑！");
                return false;
            }
            if (row) {
                mini.open({
                    url: bootPATH + "../sysMenu/addTree",
                    title: "编辑菜单", width: 420, height: 200,
                    onload: function () {
                        var iframe = this.getIFrameEl();
                        var data = { action: "edit", m_id:row.m_id};
                        iframe.contentWindow.SetData(data);
                    },
                    ondestroy: function (action) {
                        tree.reload();
                    }
                });
            } else {
                mini.alert("请选中一条节点！");
            }
        }
        function onRemoveNode(e) {
            if (row.m_id=="0" || row.m_id==0){
                mini.alert("此节点不能被编辑！");
                return false;
            }
            var tree = mini.get("tree1");
            var row = tree.getSelectedNode();
            if (row) {
                if (confirm("确定删除选中节点?")) {
                    $.ajax({
                        url: "/sysMenu/deleteTreeById?id=" +row.m_id,
                        success: function (text) {
                            tree.reload();
                        },
                        error: function () {
                            tree.reload();
                            mini.alert("网络出现异常，请稍后重试...");
                        }
                    });
                }
            }
        }
		function onBeforeOpen(e) {
		    var menu = e.sender;
		    var tree = mini.get("tree1");
		    var node = tree.getSelectedNode();
		    var nodeOnclick=node.parent_id;
		    if (!node) {
		        e.cancel = true;
		        return;
		    }
		    if (node && node.text == "Base") {
		        e.cancel = true;
		        //阻止浏览器默认右键菜单
		        e.htmlEvent.preventDefault();
		        return;
		    }
		    var editItem = mini.getbyName("edit", menu);
		    var removeItem = mini.getbyName("remove", menu);
		    editItem.show();
		    removeItem.enable();
		    if (node.id == "forms") {
		        editItem.hide();
		    }
		    if (node.id == "lists") {
		        removeItem.disable();
		    }
       }
</script>
</body>
</html>