<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: htmlhead"></head>
<body>
<section>
        <div class="content">
            <div class="content-header">
                <div class="leftside-content-header">
                    <ul class="breadcrumbs">
                        <li><i class="fa fa-paper-plane" aria-hidden="true"></i><a href="#">Widgets</a></li>
                        <li><a>Post</a></li>
                    </ul>
                </div>
            </div>
            <div class="row animated fadeInUp">
                <div class="col-sm-6 col-md-4 " th:each="pic:${pic.list}">
                    <div class="panel widget-post">
                        <div class="panel-header">
                            <img class="btn-animated" th:id="${pic.id}" alt="streat" th:src="${pic.url}" height="262px" width="392px"/>
                        </div>
                        <div class="panel-content">
                            <div class="text">
                                <a href="#" class="text-md text-bold color-dark" th:text="${pic.biaoqian}"></a>
                                <p th:text="${pic.title}"></p>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <span class="text-sm color-muted pull-right" th:text="${#dates.format(pic.lastUpdateDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
                            <a href="#"><i class="pr-sm fa fa-heart-o"></i><span th:text="${pic.zan}"></span></a>
                            <a href="#"><i class="ph-sm fa fa-share"></i><span th:text="${pic.pictureurlsNum}"></span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="example" style="text-align: center">
                	<ul id="pageLimit" th:attr="data-pageinfo=${pic}"></ul>
             </div>
        </div>
</section>
</body>
<script type="text/javascript">
$(function(){
   var pageInfo=JSON.parse($("#pageLimit").attr("data-pageinfo"));
   $('#pageLimit').bootstrapPaginator({
	    currentPage: pageInfo.pageNum,    
	    totalPages: pageInfo.total,    
	    bootstrapMajorVersion: 3,    
	    alignment:"right",    
	    numberOfPages:8,
	    totalPages:pageInfo.pages,
	    itemTexts: function (type, page, current) {        
	        switch (type) {            
	        case "first": return "首页";            
	        case "prev": return "上一页";            
	        case "next": return "下一页";            
	        case "last": return "末页";            
	        case "page": return page;
	        }
	    },
	     onPageClicked: function (event, originalEvent, type, page) {
	    	 window.location = "/login?pageNum="+page;
	    }
   });
});



$.fn.extend({
    animateCss: function(animationName) {
        var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
        this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
        });
    }
});
$(".btn-animated").on('click', function() {
	var arr = ["flipInX","flipInY","flipOutX","flipOutY","swing","hinge"];
	var index = Math.floor((Math.random()*arr.length)); 
    var img = $(this).attr('id');
    $("#" + img).animateCss(arr[index]);
});
</script>
</html>
